name: crates
# This builds the docker image and pushes it to DockerHub
# Runs on nf-core repo releases and push event to 'dev' branch (PR merges)
on:
  release:
    types: [published]

jobs:
  push_cratesio:
    name: Push repository to crates.io
    runs-on: ubuntu-latest
    # Only run for the nf-core repo, for releases and merged PRs
    if: ${{ github.repository == 'RenzoTale88/xpclrs' }}
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v4

      - name: Linux deps
        run: sudo apt-get update && sudo apt-get install libopenblas-dev

      - name: Build
        run: cargo login --token ${{ secrets.CARGO_REGISTRY_TOKEN }}

      - name: Build
        run: cargo publish --dry-run

      - name: Publish xpclrs to crates.io
        run: cargo publish
